[submodule "SpaceProjectXL"]
	path = SpaceProjectXL
	url = https://github.com/ewdlop/SpaceProjectXL
[submodule "ThisisNotMario2"]
	path = ThisisNotMario2
	url = https://github.com/ewdlop/ThisisNotMario2
